@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,500;0,800;0,900;1,700&display=swap');
body {
  background: #FAFAFA;
  font-size: 13px;
  color: #686868;

  font-family: 'Hanken Grotesk', sans-serif;
  line-height: 19px;
}

* {
  margin: 0;
  padding:0;
  
  box-sizing: border-box;
}
:root {
  --green: #83BF4F;
  --yellow: #FFCA28;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--green);
  text-decoration: inherit;
}

a:hover {
  color: var(--yellow);
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}
.money {
  width: 100%;
  height: 223px;
  background: url(../public/images/money.svg) top center no-repeat;
}

.container {
  z-index: 11;
  width: 620px;
  padding: 0rem 5rem;
  margin-top: 4rem;
  position: relative;
}

.container label {
  width: 100%;
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.container .resultado {
  background: #83BF4F;
  box-shadow: 1px 7px 11px -4px rgb(0 0 0 / 5%);
  border-radius: 10px;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 44px;
  width: 100%;
  display: block;
  padding: 1.5rem 1.5rem;
  color: #fff;
}

.container select {
  outline-color: var(--green);
  border: unset;
  background: #FFFFFF;
  box-shadow: 1px 7px 11px -4px rgb(0 0 0 / 5%);
  border-radius: 10px;
  padding: 1rem 1rem;
  color: rgba(0, 0, 0, 0.29);
  font-weight: 500;
  font-family: Inter, sans-serif;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.container input {
  border: unset;
  background: #FFFFFF;
  box-shadow: 1px 7px 11px -4px rgb(0 0 0 / 5%);
  border-radius: 10px;
  font-weight: 400;
  font-size: 2rem;
  line-height: 44px;
  color: rgba(0, 0, 0, 0.29);
  outline-color: var(--green);
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
}

.container-title {
  flex: 1;
  padding: 2rem;
  max-width: 421px;
}

.App {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 6rem auto 2rem;
}

.container-title h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 4rem;
  line-height: 77px;
  color: var(--green);
  margin: 0;
}

.container-title p > strong {
  color: var(--green);
  font-weight: 600;
}
 
.App:before, .App:after {
  position: absolute;
  width: 441px;
  height: 319px;
  left: -65px;
  top: 27px;
  background: var(--yellow);
  filter: blur(74.5px);
  content: "";
}

.App:after {
  background: var(--green);
  left: 202px;
  top: 221px;
}

.container-title.effect {
  position: relative;
  z-index: 111;
}

.effectglass {
  background: rgba(255,255,255,.61);
  border-radius: 0 25px 25px 0;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 47vw;
  height: 86%;
  z-index: 1;
}


@media (max-width: 600px) {

.effectglass {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.container-title, .container-title {
  flex: unset;
  width: 100%;
  max-width: 100%;
  padding: 1rem;
}

.container {
  width: 100%;
  margin: auto;
  padding: 1rem;
  position: relative;
  z-index: 1111;
}
.container select {
  width: 100%;
}
#root {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
}